/*
*
*
* RESET
*
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/*
*
*
* CORES DO PROJETO
*
*/
$preto: #212121;
$branco: #f2f2f2;
$cinza-tom-1: #8c8c8c;
$cinza-tom-2: #a6a6a6;
$cinza-tom-3: #d9d9d9;

/*
*
*
* HTML GERAL
*
*/
main {
  min-height: 100vh;
  background-color: $branco;
}

.main_ {
  padding-top: 50px;
  padding-bottom: 50px;
}

a,
a:hover {
  transition: all 1s ease-in-out !important;
  text-decoration: none !important;
  cursor: pointer !important;
  color: inherit !important;
}

button {
  transition: all 1s ease-in-out;
}

p {
  line-height: 1.7em;
}

h1 {
  margin-bottom: 50px !important;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin-bottom: 25px !important;
}

section {
  padding: 100px;

  @media screen and (max-width: 768px) {
    padding: 100px 70px;
  }

  @media screen and (max-width: 576px) {
    padding: 70px 50px;
  }

  @media screen and (max-width: 411px) {
    padding: 50px 10px;
  }
}

footer {
  background-color: $cinza-tom-3;
  padding: 15px 25px;
  font-weight: lighter;

  p {
    margin: 0;
    padding: 0;
  }

  .col-div-1 {
    text-align: start;
  }

  .col-div-2 {
    text-align: end;
  }

  @media screen and (max-width: 768px) {
    .col-div-1,
    .col-div-2 {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  a {
    font-weight: bold;
  }
}

/*
*
*
* UTILITÁRIOS
*
*/

.align-middle-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

/*
*
*
* BOTÕES
*
*/

.btn_ {
  padding: 10px 15px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  border: 1px solid transparent;
}

.btn_reset {
  background-color: $cinza-tom-3;

  img {
    height: 20px;
  }
}

.btn_converter {
  background-color: #fff;

  &:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
}
/*
*
*
* INPUTS
*
*/

.conversor_input_text,
.conversor_input_number {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid $cinza-tom-2;
  color: #fff;
  font-size: 15px;
}
/*
*
*
* HEADER
*
*/
nav.navbar {
  background-color: $cinza-tom-3;
}

nav button,
nav button:focus {
  outline: none;
  border: none;  
}

.navbar-toggler {
  i.fas {
    color: #212121;
    height: 30px;
  }
}

.navbar-brand {
  .nav-icon {
    height: 30px;
    margin-right: 5px;
  }
}

.nav-link{
  margin-right: 10px;
}

.navbar-brand:hover,
.nav-link:hover {
  color: $cinza-tom-1 !important;
}

/*
*
*
* PÁGINA INICIAL
*
*/
.link-for-converter {
  background-color: $preto;
  color: #fff;
}
.link-for-operations {
  background-color: $branco;
  color: $preto;
}

.link-for-converter,
.link-for-operations {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;

  .icon {
    height: 5em;
    width: auto;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 770px) {
    height: 50vh;
  }
}

/*
*
*
* PÁGINA DE CONVERSÃO DE BASES
*
*/

.container_conversor {
  background-color: #212121;
  color: #fff;

  width: 50%;

  @media screen and (max-width: 1200px) {
    width: 55%;
  }

  @media screen and (max-width: 992px) {
    width: 60%;
  }

  @media screen and (max-width: 768px) {
    width: 75%;
  }

  @media screen and (max-width: 576px) {
    width: 98%;
  }

  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);

  .row {
    margin-bottom: 35px;
  }
}

.container_scrool_converter {
  max-height: 350px;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* Largura da barra de rolagem */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Fundo da barra de rolagem */
  &::-webkit-scrollbar-track-piece {
    background-color: #eee;
    border-left: 1px solid #ccc;
  }

  /* Cor do indicador de rolagem */
  &::-webkit-scrollbar-thumb:vertical {
    background-color: #bac0c4;
  }

  /* Cor do indicador de rolagem - ao passar o mouse */
  &::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #717171;
  }
}
